<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/34b99c374a.js" crossorigin="anonymous"></script>
    <title>ElectoArco</title>
</head>

<body>
    <h1>ElectroArco</h1>
    <div class="header">
        <div class="menuNavegacion">
            <div class="contenidoMenuNavegacion">
                <div class="enviarA">
                    <button type="submit" value="enviar a">Enviar a</button>
                </div>
                <div class="productos">
                    <button type="menu" value="productos">Productos</button>
                </div>
                <div class="buscar">
                    <input type="text" placeholder="¿Qué estas buscando?" value="buscar">
                </div>
                <div class="usuario">
                    <button type="menu" value="usuario">Usuario</button>
                </div>
                <div class="misCompras">
                    <button type="submit" value="misCompras">Mis compras</button>
                </div>
                <div class="shoppingCart">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="menuHamburguesa">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="menuNavegacion1">
            <div class="ofertas">
                <button type="menu" value="ofertas">OFERTAS<i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="atencionAlCliente">
                <button type="menu" value="atencionAlCliente">ATENCION AL CLIENTE<i
                        class="fas fa-chevron-down"></i></button>
            </div>
            <div class="vender">
                <button type="menu" value="vender">VENDER<i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="carrusel">
            <img src="images/product image.jpg" alt="carrusel">
        </div>
        <div class="divCarrusel">
            <div class="carrusel1">
                <img src="images/product image.jpg" alt="carrusel">  
                <p>Relacionado con tu última busqueda</p>
            </div>
            <div class="carrusel2">
                <img src="images/product image.jpg" alt="carrusel">
                <p>Mejores vendidos</p>
            </div>
            <div class="carrusel3">
                <img src="images/product image.jpg" alt="carrusel">
                <p>Descubrí productos</p>
            </div>
        </div>
    </div>
        <div>
            <p>Sobre nosotros</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem ipsum totam veniam, provident tempora, velit corporis reprehenderit sapiente qui accusamus ad. Velit iste nam ea voluptatem, possimus dolorum eligendi!</p>
        </div>
        <div>
            <p>Redes</p>
            <div>
                <i class="fab fa-instagram"></i>
            </div>
            <div>
                <i class="fab fa-facebook-square"></i>
            </div>
            <div>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
        <div>
            <p>Contactanos</p>
            <div>
                <i class="fas fa-envelope"></i>servicioalclienteelectroarco@gmail.com
            </div>
            <div>
                <i class="fas fa-phone-office"></i>+000 000 0000
            </div>
            <div>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
</body>

</html>