<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>ElectoArco</title>
</head>

<body>
    <header>
        <div>
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-share-square"></i>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>Opciones de entrega</span>
            <i class="fas fa-angle-down"></i>
        </div>
    </header>
    <main>
            <div>
                <h2>Marca</h2>
                <h3>Nombre del producto</h3>
                <h5>Número de producto:</h5>
            </div>
            <div>

            </div>
    </main>
    <footer>

    </footer>
</body>

</html>