<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stylesproductCart.css">
    <title>Carro de compras</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="images/logo.svg" alt="Logo electroarco">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos</div>
                <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
            <p><i class="fa-solid fa-user fa-fw"></i>Usuario</p>
            <p>Carrito de compras</p>
            <div class="bars"><i class="fa-solid fa-bars fa-fw"></i></div>
            <div class="heart"><i class="fa-solid fa-heart fa-fw"></i></div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping fa-fw"></i>
            </div>
        </div>
    </header>
    <main>
        <div>Productos Agregados</div>
        <hr>
        <section class="products">
            <div class="product">
                <article>
                    <img src="#" alt="Producto1" class="product_img">
                    <h4 class="description">Nombre producto</h4>
                    <div class="main-description">
                        <p class="price">$50.000</p>
                        <div class="amount">
                            <div class="value_cont">
                                <h1 id="amount" value="">1</h1>
                            </div>
                            <button class="increase">
                                ʌ
                            </button>
                            <button class="decrease">
                                v
                            </button>
                        </div>
                        <p><a href="#">Eliminar</i></a></p>
                    </div>
                </article>
                <article>
                    <img src="#" alt="Producto1" class="product_img">
                    <h4 class="description">Nombre producto</h4>
                    <div class="main-description">
                        <p class="price">$90.000</p>
                        <div class="amount">
                            <div class="value_cont">
                                <h1 id="amount" value="">1</h1>
                            </div>
                            <button class="increase">
                                ʌ
                            </button>
                            <button class="decrease">
                                v
                            </button>
                        </div>
                        <p><a href="#">Eliminar</i></a></p>
                    </div>
                </article>
            </div>

        </section>
    </main>
    <hr>
    <footer>
        <div>
            <p>Valor del envio</p> 
            <h4>$15.000</h4>
        </div>
        <div>
            <p>Total</p> 
            <h4>$155.000</h4>
        </div>
        <button class="buy">
            Continuar compra
        </button>
    </footer>

</body>

</html>