h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: red;
    
}
label{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: red;
}