<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1>Bienvenido a Electo Arco</h1>
<h2>porfavor ingrese su usuario</h2>
<form action="" method="post">
<div>
<label>ingrese su cuenta</label>
                <input type="text" name="nombreUsuario" id="nombreUsuario">
            </div>
<div>
    <label>ingrese su Contraseña</label>
                <input type="text" name="Contraseña" id="Contraseña">
</div>
</form>

<h3>sino tienes una , has click aca</h3>


</body>
</html>