<%- include('partials/head',{styles:['login']}) %>

    <body>
        <%- include('partials/header') %>
            
            <div class="overlay2" id="overlay2">
                <div class="formularioRegistroLogin" id="formularioRegistroLogin">
                    <form action="/headerAdmin" method="POST" class="crear-formulario">
                        <h2>Ingresa tus datos</h2>
                        <div class="divNombreApellidologin">
                            <label class="labelCorreo">Correo:</label>
                            <input type="text" name="correoUsuario" id="correoUsuario" class="correoUsuario">
                        </div>
                        <div class="contrasenaLogin">
                            <label class="labelContraseña">Contraseña:</label>
                            <input type="password" name="contraseñaUsuario" id="contraseñaUsuario"
                                class="contraseñaUsuario" >
                        </div>
                        <p class="remember">Recordar contraseña</p>
                </div>

                <div class="botonGuardarLogin">
                    <button type="submit" class="botonFormularioLogin">INGRESAR</button>
                    <button type="delete" class="botonFormularioLogin">CANCELAR</button>
                </div>
                </form>
            </div>
            <%- include('partials/footer') %>
    </body>

    </html>