<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!--Estilos propios-->
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="/css/mediaQueryCart.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <title>Carro de compras</title>
</head>

<body>
    <header></header>
    <main>
        <img src="images/barra.png" alt="">
        <div class="title">
            <h1 class="title"> Carro de compras</h1>
        </div>
        <img class="banner" src="images/banner.jpg">
        <div class="main-article">
            <article>
                <div class="img">
                    <img class="article" src="images/img-tv-samsung-smart.jpg">
                </div>
                <div class="content">
                    <div class="brand">
                        <p>Tv samsung smart
                        </p>
                    </div>
                    <div class="name">
                        <h2>TV SAMSUNG 50" SMART TV</h2>
                    </div>
                    <div class="id">
                        <p>Codigo 422003</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Envio a domicilio</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Retiro en tienda</p>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </article>
        </div>
    </main>
    <footer>
    </footer>

</body>

</html>