<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!--Estilos propios-->
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="/css/mediaQueryCart.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <title>Carro de compras</title>
</head>

<body>
    <header></header>
    <main>
        <img src="images/barra.png" alt="">
        <div class="title">
            <h1 class="title"> Carro de compras</h1>
        </div>
        <img class="banner" src="images/banner.jpg">
        <div class="main-article">
            <article>
                <div class="img">
                    <img class="article" src="images/img-tv-samsung-smart.jpg">
                </div>
                <div class="content">
                    <div class="brand">
                        <p>Tv samsung smart
                        </p>
                    </div>
                    <div class="name">
                        <h2>TV SAMSUNG 50" SMART TV</h2>
                    </div>
                    <div class="id">
                        <p>Codigo 422003</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Envio a domicilio</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Retiro en tienda</p>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </article>
            <div class="container-total">
                <div class="content-button">
                    <button class="decrement"><i class="fa-solid fa-minus"></i></button>
                    <h4>1</h4>
                    <button class="increment"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="information">
                    <p class="price">$2.300.200 und</p>
                    <p class="discount">5% off und</p>
                </div>
            </div>
        </div>
        <div class="purchase-summary">
            <div class="title">
                <h1 class="title"> Resumen de tu compra</h1>
            </div>
            <div class="subtotal">
                <p class="subtotal"> Sub total </p>
                <p class="subtotal"> $2.300.200 </p>
            </div>
            <div class="saving">
                <p class="saving"> Ahorro </p>
                <p class="saving"> -$115.100</p>
            </div>
            <div class="total">
                <p class="total"> Total </p>
                <p class="total"> $2.185.190</p>
            </div>
            <div class="button"> <button class="text" type="submit">Continuar</button></div>
            <div class="location"><i class="fa-solid fa-location-dot"></i>
            <p class="location"> Precios y opciones de entrega basado en tu ubicación actual.</p></div>
        </div>
    </main>
    <footer>
    </footer>

</body>

</html>