<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/productdetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/34b99c374a.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/colors.css" rel="stylesheet">
    <title>ElectoArco</title>
</head>

<body>
    <main>
        <section class="box3">
            <p class="title">Marca</9>
            <p class="subtitle">Nombre del producto</p>
            <p class="other">Número de producto:</p>
        </section>
        <section class="productimage">
            <div id="conteItemsCarrusel">
                <div class="itemCarrusel" id="itemCarrusel-1">
                    <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
                        <img src="./images/product image.jpg" alt="item-1-Carrusel">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-3">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrusel" id="itemCarrusel-2">
                    <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
                        <img src="./images/product image 1.jpg" alt="item-2-Carrusel">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-1">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="#itemCarrusel-3">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrusel" id="itemCarrusel-3">
                    <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
                        <img src="./images/product image 2.jpg" alt="item-1-Carrusel">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="#itemCarrusel-1">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="contePuntos">
                <a href="#itemCarrusel-1">·</a>
                <a href="#itemCarrusel-2">·</a>
                <a href="#itemCarrusel-3">·</a>
            </div>
        </section>
        <section class="box4">
            <div>
                <p class="price">Precio</p>
            </div>
            <div class="subbox1">
                <i class="fas fa-info-circle"></i>
                <button name="moreinfo"><a href="#">
                        <p class="moreinfo">Más información del producto
                    </a></button>
            </div>
        </section>
        <section class="containerProductDetail">
            <div class="slide"><img src="images/img-samsung-galaxy-s10.jpg" alt="aquívalaimagendelproducto"></div>
            <div id="containerProductDescription">
                <p class="titleProductDescription">Samsung Galaxy S10 Core 32GB Blue</p>
                <p class="subtitleProductDescription">Código: 0802 0011 2236</p>
            </div>
            <div id="containerPriceAndShipping">
                <div class="price">
                    <p>1.700.000</p>
                </div>
                <div class="addAmount">
                        <button class="addToCart" type="submit">Agregar al Carrito</button>
                </div>
                <div class="deliveryOptions">
                    <p>Opciones de entrega</p>
                </div>
                <div class="containerDeliveryOptions">
                    <div class="text2">
                        <label>
                            <input type="radio" name="deliveryOptions" value="Envío a tu dirección"><i id="truck2"><i
                                    class="fas fa-truck"></i></i>Envío a tu dirección
                        </label>
                    </div>
                    <div class="text2">
                        <label>
                            <input type="radio" name="deliveryOptions" value="Recoge en la tienda"><i
                                class="fas fa-shopping-bag"></i></i>Recoge en la tienda
                        </label>
                    </div>
                </div>
                <div class="availabilityInStore">
                    <p>Disponibilidad en tienda</p>
                </div>
                <div class="containerSelectStore">
                    <div class="iconSelectStore"><i class="fas fa-store"></i></i></div>
                    <div class="textSelectStore">
                        <p>Seleccionar tienda</p>
                    </div>
                </div>
            </div>
            <div id="containerOutstandingFeatures">
                <div class="titleOutstandingFeatures">
                    <p>Caracteristicas Importantes</p>
                </div>
                <div class="listOutstandingFeatures">
                    <ul>
                        <li>Contenidos más nítidos, definidos y claros.</li>
                        <li>Disfruta del dispositivo durante horas con su gran batería.</li>
                        <li>Gran procesador para un rendimiento rápido y eficiente.</li>
                    </ul>
                </div>
            </div>
            <div id="containerProductOverview">
                <div class="titleProductOverview">
                    <p>Resumen del producto</p>
                </div>
                <div class="textProductOverview">
                    <p>Con Galaxy S10 los beneficios claves están en su mejor expresión, disfruta de tus contenidos al
                        mejor nivel, gracias a su amplia pantalla de 6.5" con alta resolución. Disfruta de tu apps
                        favoritas con la alta velocidad de su procesador de ocho núcleos y quédate tranquilo todo el
                        día, gracias a su batería de larga duración de 5.000 mAh. ¡Lleva el tuyo ahora!</p>
                </div>
            </div>
        </section>
        <div id="containerMoreInfoProduct">
            <i class="fas fa-info-circle"></i>
            <p>Más información del producto</p>
        </div>
    </main>
    <footer>
        <div class="footerContainer1">
            <div class="containerPQRS">
                <div class="iconPaper">
                    <i class="far fa-question-circle"></i>
                </div>
                <div class="text1">
                    <p>Te escuchamos / PQRS</p>
                </div>
            </div>
            <div class="containerSend">
                <div class="iconSend">
                    <i class="far fa-compass"></i>
                </div>
                <div class="text1">
                    <p>Métodos de Retiro y Envío</p>
                </div>
            </div>
            <div class="containerPersonalInformation">
                <div class="iconPersonal">
                    <i class="far fa-hand-point-up"></i>
                </div>
                <div class="text1">
                    <p>Autogestión de Datos personales</p>
                </div>
            </div>
            <div class="containerPhone">
                <div class="iconPhone">
                    <i class="fas fa-phone-square-alt"></i>
                </div>
                <div class="text1">
                    <p>Venta telefónica: 018000 00 0000</p>
                </div>
            </div>
        </div>
        <div class="footerContainer2">
            <div class="containerCustomerService">
                <div class="titlesFooterContainer2">
                    <p>Servicio al cliente</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Venta a empresas</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Medios de pago</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Cambios y devoluciones</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Política de proteccion de datos personales/p>
                </div>
                <div class="textFooterContainer2">
                    <p>Términos y condiciones</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Estatuto del consumidor</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Mapa del sitio</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Superintendencia de Industria y Comercio SIC</p>
                </div>
            </div>
            <div class="containerUser">
                <div class="titlesFooterContainer2">
                    <p>Mi cuenta</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Regístrate</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Cambia tu clave</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Olvidé mi clave</p>
                </div>
            </div>
            <div class="containerMoreInfo">
                <div class="titlesFooterContainer2">
                    <p>Más de ElectroArco</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Información a proveedores</p>
                </div>
                <div class="textFooterContainer2">
                    <p></p>Información a inversionistas
                </div>
                <div class="textFooterContainer2">
                    <p></p>Responsabilidad Social Empresarial
                </div>
                <div class="textFooterContainer2">
                    <p></p>La linea de ética y anticorrupción
                </div>
                <div class="textFooterContainer2">
                    <p>Trabaje para nosotros</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Vende en ElectroArco</p>
                </div>
            </div>
            <div class="containerSocialNetworks">
                <div class="titlesFooterContainer2">
                    <p>Descarga la APP ElectroArco</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Apple Store</p>
                </div>
                <div class="textFooterContainer2">
                    <p>Google Store</p>
                </div>
                <div class="contenedorIconsSocialNetworks">
                    <div class="iconsSocialNetworks"><i class="fab fa-facebook-square"></i></div>
                    <div class="iconsSocialNetworks"><i class="fab fa-instagram-square"></i></div>
                    <div class="iconsSocialNetworks"><i class="fab fa-twitter-square"></i></div>
                    <div class="iconsSocialNetworks"><i class="fab fa-youtube-square"></i></div>
                    <div class="iconsSocialNetworks"><i class="fab fa-pinterest-square"></i></div>
                </div>
                <div class="containerOnlineChat">
                    <div id="iconWhatsApp"><i class="fab fa-whatsapp"></i></div>
                    <div id="textOnlineChat">
                        <p>Chat en línea</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerRightsReserved">
            <div class="logoRightsReserved"><img src="images/logo.svg" alt="logoElectroArco"></div>
            <div id="textRightsReserved">Todos los derechos reservados</div>
        </div>
    </footer>
</body>

</html>