*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;

}
.main{
    background-color: #fff;
    width: 100%;
    margin: auto; 
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center; 
    box-shadow: 10px 10px 5px 0px gray; 
}
.titulo{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}
h5{
    font-size: 16px;
}
.formulario{
    margin-top: 20px;
    width: 100%;
}
.control-for{
    width: 100%;
}
.inputEdit{
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
}
.controlFoto{
    padding-top: 10px;
}
.inputFoto{
    padding-top: 10px;
}
.controlCategoria{
    width: 100%;;
    padding-top: 20px;
}
.divImagen{
    width: 30%;
    height: 80px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.categoriaProducto{
    padding-top: 10px;
}
.boton-guardar>button:hover{
    background: #0022AA;
    box-shadow: 10px 10px 5px 0px gray;
}
.boton-guardar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    justify-content: space-evenly;
}
.boton-guardar>button{
    display: flex;
    width: 33%;
    justify-content: center;
    justify-items: center;
    height: 35px;
    color: #ffff;
    background-color: #1259c3;
    border-radius: 5px; 
    margin-top: 30px;
    padding:5px;
}

.inputEditar{
    width: 100%;
}
.inputId{
    width: 100%;
}
.div-name-color{
    display: block;
    width: 100%;
    justify-content: space-between;
}
.nameProduct, .colorProduct{
    width: 100%;
   
}
.price-discount{
    display: block;
    width: 100%;
    
}
.priceProduct, .discountProduct{
    width: 100%;

}


.mainEdit{
    background-color: #fff;
    width: 90%;
    padding: 10px;
    margin: auto; 
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center; 
    box-shadow: 10px 10px 5px 0px gray; 
}
textarea.descriptionProduct{
    display: block;
    width: 100%;
    min-height: 140px;
    resize: vertical;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;

}
.inputFoto{
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}
.labelEdit{
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
}
@media (min-width: 320px){
   
    .inputFoto{
        width: 50%;
    }
    .boton-guardar>button{
        width: 60%;
        font-size: 12px;
    }
}
@media(min-width:761px){
    .div-name-color{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .nameProduct, .colorProduct{
        width: 49%;
       
    }
    .price-discount{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .priceProduct, .discountProduct{
        width: 49%;
    
    }
    .boton-guardar>button{
        width: 33%;
        font-size: 12px;
    }
}
@media(min-width:1024px){
    
   
}