* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.compra {
    padding-top: 10px;
    text-align: center;
}

.logo {
    width: 100%;
}

#check {
    display: none;
}

.checkbtn {
    display: block;
}

a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.checkbtn {
    font-size: 30px;
    color: var(--negro);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

ul.list {
    position: fixed;
    width: 100%;
    height: 67vh;
    background: var(--grisClaro);
    top: 305px;
    left: -100%;
    text-align: center;
    transition: 540ms;
}

nav ul.list li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
}

nav ul.list li a {
    font-size: 20px;
    text-transform: uppercase;
}

input.search-product {
    border-radius: 5px;
    width: 50%;
    margin-top: 30px;
    margin-left: 15px;
}

#check:checked~.search ul.list {
    left: 0;
}
i.fas.fa-sign-in-alt, i.fas.fa-id-card, i.fas.fa-shopping-basket {
    margin-left: 5px;
}
nav ul.list li a {
    font-size: 18px;
    width: 100%;
    display: flex;
align-items: baseline;
}

/* Tablet */
@media (min-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .compra {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        width: 100%;
        padding-bottom: 5px;
    }

    .checkbtn {
        display: none;
    }
    nav ul.list {
        float: right;
        display: block;
        position: unset;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 30px;
        align-content: center;
        padding-left: 10px;

    }

    ul.list {
        width: 65%;
        height: 67vh;
        background: var(--grisClaro);
        top: 305px;
        text-align: center;
        transition: none;
    }

    ul.list li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    ul.list li a {
        color: var(--negro);
        font-size: 18px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    nav ul.list li {
        margin: 10px 0;
        line-height: 30px;
        width: 20%;
        display: flex;
        flex-wrap: wrap;
    }

    .search {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 10px;
        justify-content: center;
    }

    input.search-product {
        width: 35%;
        margin-top: 5px;
    margin-left: 5px;
    }
    nav ul.list li a {
        font-size: 11px;
        width: 100%;
        display: flex;
    align-items: baseline;
    }
    
i.fas.fa-sign-in-alt, i.fas.fa-id-card, i.fas.fa-shopping-basket {
    margin-left: 5px;
}

}

/* Desktop */
@media (min-width: 1024px) {
    nav ul.list li a {
        font-size: 15px;
        width: 100%;
        display: flex;
    align-items: baseline;
    }
    nav ul.list :hover, li a.active{
        background: none;
        color: var(--blanco);
        transition: 450ms;
    }
    nav ul.list li :hover{
        background: var(--celeste);
        transition: .5s;
    }
    .compra {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        width: 100%;
        padding-bottom: 12px;
    }
    input.search-product {
        width: 35%;
        margin-top: 0px;
        margin-left: 5px;
        padding-bottom: 2px;
    }
}