* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.compra {
    padding-top: 10px;
    text-align: center;
}

.logo {
    width: 100%;
}

#check {
    display: none;
}

.checkbtn {
    display: block;
}

a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.checkbtn {
    font-size: 30px;
    color: var(--negro);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

ul.list {
    position: fixed;
    width: 50%;
    height: 67vh;
    background: var(--grisClaro);
    top: 305px;
    left: -100%;
    text-align: center;
    transition: 540ms;
}

nav ul.list li {
    display: flex;
    margin: 10px 0;
    width: 16%;
}


    


input.search-product {
    display: block;
    border-radius: 5px;
    width: 100%;
   
}

#check:checked~.search ul.list {
    left: 0;
}
i.fas.fa-sign-in-alt, i.fas.fa-id-card, i.fas.fa-shopping-basket {
    margin-left: 5px;
}
nav ul.list {
    width: 100%;
    display: flex;
}

nav ul.list li img{
    width: 40px;
    
}
input.search-product {
    width: 80%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
}

nav ul.list {

    float: center;
    font-size: 15px;

    display: flex;
    position: unset;
    
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 50px;
    text-transform: uppercase;
    border-radius: 3px;
    color: var(--negro);

}

/* Tablet */
@media (min-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .compra {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        width: 100%;
        padding-bottom: 5px;
    }

    .checkbtn {
        display: none;
    }
    

    ul.list {
        width: 65%;
        height: 67vh;
        background: var(--grisClaro);
        top: 305px;
        text-align: center;
        transition: none;
    }

    ul.list li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

   
    nav ul.list li {
        margin: 10px 0;
        line-height: 30px;
        
        display: flex;
        flex-wrap: wrap;
    }

    .search {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 10px;
        justify-content: center;
    }

    
    
    
i.fas.fa-sign-in-alt, i.fas.fa-id-card, i.fas.fa-shopping-basket, i.fa-right-from-bracket{
    margin-left: 5px;
    margin-top: 5px;
}

}

/* Desktop */
@media (min-width: 1024px) {
    
    nav ul.list :hover, li a.active{
        background: none;
        color: var(--blanco);
        transition: 450ms;
    }
    nav ul.list li :hover{
        background: var(--celeste);
        transition: .5s;
    }
    .compra {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        width: 100%;
        padding-bottom: 12px;
    }
   
}