* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.containerProductDetail {
    display: none;
}

.containerNavigationBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--grisClaro);
    font-size: 18px;
}

#iconShare {
    margin-left: 85%;
}

.slide1 {
    display: flex;
    width: 100%;
    position: relative;
}

.slide1 img {
    width: 100%;
}

#mark {
    font-size: 16px;
    font-weight: bold;
}

#productName {
    font-size: 18px;
    font-weight: bolder;
}

#subtitleProductDescription {
    font-size: 10px;
    font-weight: 300;
}

.containerProductInfo {
    margin: 5px 15px 5px 15px;
}

.price1 {
    font-size: 18px;
    font-weight: 800;
    display: flex;
    margin: 5px 15px 5px 15px;
    padding-top: 10px;
    color: var(--rojo);
}

.pricedetail {
    font-size: 18px;
}

.price1::before {
    content: "$ ";
}

#containerPriceAndShipping1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--grisClaro);
    padding-bottom: 15px;
}

.addAmount1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addToCart1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    font-size: 18px;
    background-color: var(--rojo);
    border: none;
    border-radius: 5px;
    height: 30px;
    align-content: center;
    color: var(--blanco);
    margin: auto;
}

.deliveryOptions1,
.availabilityInStore1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 3;
}

.textDO1 {
    font-size: 16px;
    text-align: justify;
    margin-top: 5px;
    font-weight: 100;
}

.containerSelectStore1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#containerMoreInfoProduct {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 10px;
}

#containerMoreInfoProduct i,
#containerMoreInfoProduct p {
    font-size: 14px;
}




@media(min-width:768px) {

    /* Start Main*/

    .containerProductDetail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "slide slide containerProductDescription"
            "slide slide containerPriceAndShipping"
            "containerOutstandingFeatures containerProductOverview containerPriceAndShipping";
        gap: 10px;
        padding: 20px;
        box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }

    .slide {
        grid-area: slide;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide img {
        width: 60%;
    }

    #containerProductDescription {
        grid-area: containerProductDescription;
        padding-top: 20px;
    }

    #containerPriceAndShipping {
        grid-area: containerPriceAndShipping;
        display: flex;
        flex-direction: column;
        width: 105%;
        padding-left: 25px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: -25px 0px 120px 0px;

    }

    #containerOutstandingFeatures {
        grid-area: containerOutstandingFeatures;
    }

    .titleOutstandingFeatures,
    .titleProductOverview {
        font-size: 16px;
        font-weight: 600;
        line-height: 2;
    }

    .textProductOverview {
        font-size: 14px;
        text-align: justify;
        margin-top: 5px;
    }

    .listOutstandingFeatures {
        font-size: 14px;
        padding-left: 25px;
        text-align: justify;
        padding-right: 10px;
    }

    .listOutstandingFeatures li {
        line-height: 2;
    }

    #containerProductOverview {
        grid-area: containerProductOverview;
    }

    #containerProductDescription {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .titleProductDescription {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .subtitleProductDescription {
        font-size: 12px;
        font-weight: 300;
        text-align: justify;
    }

    .price3::before {
        content: "$ ";
    }

    .price3 {
        display: flex;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 5px;
        font-weight: 800;
        margin-top: 10px;
        color: var(--rojo);
    }

    .deliveryOptions {
        font-size: 18px;
        font-weight: 600;
        line-height: 3;
    }

    .addAmount {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .addToCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        font-size: 18px;
        background-color: var(--rojo);
        border: none;
        border-radius: 5px;
        height: 30px;
        align-content: center;
        color: var(--blanco);
        margin: auto;
    }

    .addAmount {
        margin-bottom: 15px;
        margin-left: -25px;
    }

    .text2,
    .boxText2 {
        font-size: 16px;
        text-align: justify;
        margin-top: 5px;
        font-weight: 100;
    }

    .discont3 {
        display: flex;
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 5px;
        font-weight: 800;
        margin-top: 5px;
        color: var(--verde);
    }

    .discont3::after {
        content: "% OFF";
    }

    .availabilityInStore {
        font-size: 18px;
        font-weight: 600;
        line-height: 3;
    }

    .containerSelectStore {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .iconSelectStore {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerDeliveryOptions {
        margin-bottom: 15px;
    }

    .textSelectStore {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: justify;
        font-weight: 100;
        font-style: italic;
    }

    #containerMoreInfoProduct {
        display: flex;
        width: 90%;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #containerMoreInfoProduct i {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #containerMoreInfoProduct p {
        font-size: 16px;
    }

    /* End Main */

    .containerProductDetail1 {
        display: none;
    }

}

@media(min-width:1024px) {

    /* Start Main*/

    .containerNavigationBar {
        display: none;
    }

    #containerPriceAndShipping {
        margin: -25px 0px 95px 6px;
    }

    /* End Main */
}

@media(min-width:1440px) {

    /* Start Main*/

    .containerNavigationBar {
        display: none;
    }

    #containerPriceAndShipping {
        margin: -25px 0px 220px 6px;
    }

    .containerProductDetail {
        grid-template-rows: 0.5fr 1fr 0.4fr;
    }

    /* End Main */
}