*{
    box-sizing: border-box;
}
h2{
    width: 100%;
}
.overlay{
    box-shadow: 10px 10px 5px 0px gray;
    width: 50%;
    background: white;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 25%;
    right: 0;
    display: flex; 
    display: none;   
}

.formularioRegistro{
    width: 100%;
       
}
.botonCerrarFor{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: black;
    transition: .3s ease all;
}
.botonCerrarFor:hover{
    color:#bbbbbb;
}
h1{
    text-align: center;
}
.crear-formulario{
    width: 100%;
}
.cabecera{
    width:100%;
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: right;
}
.imgLogo{
    width: 30%;
    height:100px;
    display: flex;
}
.botones{
    display: flex;
    padding: 10px;
    margin-left: 20px;
}
.botonHome > button{
    width: 150px;
    height: 30px;
}
.botonIngresa > button{
    width: 150px;
    height: 30px;
}
.botonAyuda > button{
    width: 150px;
    height: 30px;
}
.botonContacto > button{
    width: 150px;
    height: 30px;
}
.botonPublica > button{
    width: 150px;
    height: 40px;
    margin: 4px;
    margin-left: -4px;
  
}
.botonPublica{
    width: 150px;
    margin-top: 0;
    padding: 0;
}
h2{
    text-align: center;
}

label{
    font-size: 18px;
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
input{
    border-radius: 5px;
}
.input-control{
    width: 100%;
    padding: 10px;
    padding-left: 0px;
}
.boton-formulario{
    color: #ffff;
    background-color: #1259c3;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .3s ease all;
}
.boton-formulario:hover{
    background:gray;
}
.burger-menu{
    display:none;
}
.nombre, .apellido,.correo, .contrasena{
    width: 100%;
}

               
@media(min-width:361px){
    .cabecera-botones{
        display: none;
    }
    .imgLogo{
        width: 80%;
        height: 50px;
        justify-content: left;
        
    }
    .burger-menu{
        display:flex;
    }
    .burger-menu i{
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 4px;
        display: flex;
        color: #ffff;
        justify-content: center;
        background-color: black;
        height: 25px;
        width: 30px;
        border-radius: 5px;  
        margin-right: 10px;  
    }
    .nombre, .apellido,.correo, .contrasena{
        width: 100%;
        padding: 30px;
    }
    .celular{
        width: 100%;
        padding: 30px;
    }
    
}
@media(min-width:760px){
    .cabecera-botones{
        display: flex;
        
    }
    .burger-menu{
        display: none;
    }
    .divNombreApellido{
        display: flex;
    }
    .divCorreoContrasena{
        display:flex;
    }
    .celular{
        width:50%;
    }
    .nombre, .apellido,.correo, .contrasena{
        width: 50%;
    }
  
    
}