<%- include('../partials/head',{styles:['formCreationProduct']}) %>

    <body>
        <%- include('../partials/header') %>
        <div class="titulo"><h1>Creación de productos</h1></div>
            <main class="main">
                
                <form action="/createProduct" method="POST" enctype="multipart/form-data">
                    
                    <div class="formulario">
                        <div class="control-for">
                            <input type="text" placeholder="Nombre del producto:" name="name" class="input-control1"
                                id="nombreProducto" required>
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Descripción del producto" name="description" class="input-control1"
                                required>
                        </div>
                        <div class="controlFoto">
                            <h5>Foto del producto</h5>
                            <input type="file" placeholder="Foto del producto" name="image" id="fotoProducto" class="inputFoto"
                                required>
                        </div>
                        
                        <div class="control-for">
                            <input type="text" placeholder="Colores del producto:" name="color" class="input-control1"
                                id="color">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Precio del producto:" name="price" class="input-control1"
                                id="precioProducto">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Descuento del producto:" name="discount" class="input-control1"
                                id="descuentoProducto">
                        </div>
                        <div class="boton-guardar">
                            <button type="submit" class="botonGuardar">GUARDAR</button>
                            <button type="delete" class="botonBorrar">BORRAR</button>
                        </div>
                    </div>
                </form>
            </main>

            <%- include('../partials/footer') %>
    </body>