<%- include('../partials/head',{styles:['productCart','mediaQueryCart']}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="barra"><img src="/images/products/barra.png" alt=""></div>
        <div class="main-article">
            <div class="title">
                <h1 class="title"> Carro de compras</h1>
            </div>
            <div class="banner"><img class="banner" src="images/home/banner.jpg"></div>
            <article>
                <div class="img">
                    <img class="article" src="images/products/img-tv-samsung-smart.jpg">
                </div>
                <div class="content">
                    <div class="brand">
                        <p>Tv samsung smart
                        </p>
                    </div>
                    <div class="name">
                        <h2>TV SAMSUNG 50" SMART TV</h2>
                    </div>
                    <div class="id">
                        <p>Codigo 422003</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Envio a domicilio</p>
                    </div>
                    <div class="shipping"> <i class="fa-solid fa-check"></i>
                        <p class="shipping">Retiro en tienda</p>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </article>
            <div class="container-total">
                <div class="content-button">
                    <button class="decrement"><i class="fa-solid fa-minus"></i></button>
                    <h4>1</h4>
                    <button class="increment"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="information">
                    <p class="price">$2.300.200 und</p>
                    <p class="discount">5% off und</p>
                </div>
                <button type="reset" class="reset">Eliminar</button>
            </div>
        </div>
        <div class="purchase-summary">
            <div class="title">
                <h1 class="title"> Resumen de tu compra</h1>
            </div>
            <div class="subtotal">
                <p class="subtotal"> Sub total </p>
                <p class="subtotal"> $2.300.200 </p>
            </div>
            <div class="saving">
                <p class="saving"> Ahorro </p>
                <p class="saving"> -$115.100</p>
            </div>
            <div class="total">
                <p class="total"> Total </p>
                <p class="total"> $2.185.190</p>
            </div>
            <div class="button"> <button class="text" type="submit">Continuar</button></div>
            <div class="location"><i class="fa-solid fa-location-dot"></i>
                <p class="location"> Precios y opciones de entrega basado en tu ubicación actual.</p>
            </div>
            <div class="img-paymenOptions"><img class="paymentOptions" src="images/products//paymentOptions.svg" alt=""></div>
            <div class="container-text">
                <div class="lock"><i class="fa-solid fa-lock"></i></div>
                <div class="container-lock-information">
                    <div class="lock-text"> Compra segura</div>
                    <div class="lock-information"> Tus datos personales se mantienen bajo estricta confidencialidad y
                        estan protegidos.</div>
                </div>
            </div>
            <div class="container-text">
                <div class="lock"><i class="fa-solid fa-award"></i></i></div>
                <div class="container-lock-information">
                    <div class="lock-text">Satisfacción Garantizada</div>
                    <div class="lock-information"> Puedes devolver tu compra en un plazo máximo de 30 dias, el producto
                        debe estar en perfecto estado: sin uso, tener todos sus accesorios, manuales y embalaje
                        original. Si tienes dudas, comunicate a nuestra linea de atencion al cliente 3077123 o a la
                        linea nacional 320 8890294.</div>
                </div>
            </div>
            <div class="container-text">
                <div class="lock"><i class="fa-solid fa-phone-volume"></i></i></i></div>
                <div class="container-lock-information">
                    <div class="lock-text">¿Necesitas ayuda?</div>
                    <div class="lock-information"> Si necesitas ayuda para completar tu compra llámanos al 320 8890294.
                    </div>
                </div>
            </div>
        </div>
      
    </main>
    <%- include('../partials/footer') %>

</body>

</html>