<footer>
    <div class="footerContainer1">
        <div class="containerPQRS">
            <div class="iconPaper">
                <i class="far fa-question-circle"></i>
            </div>
            <div class="text1">
                <p>Te escuchamos / PQRS</p>
            </div>
        </div>
        <div class="containerSend">
            <div class="iconSend">
                <i class="far fa-compass"></i>
            </div>
            <div class="text1">
                <p>Métodos de Retiro y Envío</p>
            </div>
        </div>
        <div class="containerPersonalInformation">
            <div class="iconPersonal">
                <i class="far fa-hand-point-up"></i>
            </div>
            <div class="text1">
                <p>Autogestión de Datos personales</p>
            </div>
        </div>
        <div class="containerPhone">
            <div class="iconPhone">
                <i class="fas fa-phone-square-alt"></i>
            </div>
            <div class="text1">
                <p>Venta telefónica: 018000 00 0000</p>
            </div>
        </div>
    </div>
    <div class="footerContainer2">
        <div class="containerCustomerService">
            <div class="titlesFooterContainer2">
                <p>Servicio al cliente</p>
            </div>
            <div class="textFooterContainer2">
                <p>Venta a empresas</p>
            </div>
            <div class="textFooterContainer2">
                <p>Medios de pago</p>
            </div>
            <div class="textFooterContainer2">
                <p>Cambios y devoluciones</p>
            </div>
            <div class="textFooterContainer2">
                <p>Política de proteccion de datos personales/p>
            </div>
            <div class="textFooterContainer2">
                <p>Términos y condiciones</p>
            </div>
            <div class="textFooterContainer2">
                <p>Estatuto del consumidor</p>
            </div>
            <div class="textFooterContainer2">
                <p>Mapa del sitio</p>
            </div>
            <div class="textFooterContainer2">
                <p>Superintendencia de Industria y Comercio SIC</p>
            </div>
        </div>
        <div class="containerUser">
            <div class="titlesFooterContainer2">
                <p>Mi cuenta</p>
            </div>
            <div class="textFooterContainer2">
                <p>Regístrate</p>
            </div>
            <div class="textFooterContainer2">
                <p>Cambia tu clave</p>
            </div>
            <div class="textFooterContainer2">
                <p>Olvidé mi clave</p>
            </div>
        </div>
        <div class="containerMoreInfo">
            <div class="titlesFooterContainer2">
                <p>Más de ElectroArco</p>
            </div>
            <div class="textFooterContainer2">
                <p>Información a proveedores</p>
            </div>
            <div class="textFooterContainer2">
                <p></p>Información a inversionistas
            </div>
            <div class="textFooterContainer2">
                <p></p>Responsabilidad Social Empresarial
            </div>
            <div class="textFooterContainer2">
                <p></p>La linea de ética y anticorrupción
            </div>
            <div class="textFooterContainer2">
                <p>Trabaje para nosotros</p>
            </div>
            <div class="textFooterContainer2">
                <p>Vende en ElectroArco</p>
            </div>
        </div>
        <div class="containerSocialNetworks">
            <div class="titlesFooterContainer2">
                <p>Descarga la APP ElectroArco</p>
            </div>
            <div class="textFooterContainer2">
                <p>Apple Store</p>
            </div>
            <div class="textFooterContainer2">
                <p>Google Store</p>
            </div>
            <div class="contenedorIconsSocialNetworks">
                <div class="iconsSocialNetworks"><i class="fab fa-facebook-square"></i></div>
                <div class="iconsSocialNetworks"><i class="fab fa-instagram-square"></i></div>
                <div class="iconsSocialNetworks"><i class="fab fa-twitter-square"></i></div>
                <div class="iconsSocialNetworks"><i class="fab fa-youtube-square"></i></div>
                <div class="iconsSocialNetworks"><i class="fab fa-pinterest-square"></i></div>
            </div>
            <div class="containerOnlineChat">
                <div id="iconWhatsApp"><i class="fab fa-whatsapp"></i></div>
                <div id="textOnlineChat">
                    <p>Chat en línea</p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerRightsReserved">
        <div class="logoRightsReserved"><img src="images/logo.svg" alt="logoElectroArco"></div>
        <div id="textRightsReserved">Todos los derechos reservados</div>
    </div>
</footer>
<script src="/js/ventanaRegistro.js"></script>
<script src="/js/ventanaLogin.js"></script>