<link rel="stylesheet" href="/css/home.css">
<header>
    <div class="logo"><img src="images/logo.svg" alt="Logo ElctroArco"></div>
    <div class="header1">
        <div class="buscarProducto">
            <input type="search" placeholder="Buscar productos,marcas" class="input-control2">
        </div>

        <div class="compra">
            <i class="fa-solid fa-truck"></i> Envío gratis en referencias seleccionadas
        </div>
        <form action="" class="search">
            <div class="opcionesMenu">
                <ul class="menuHeader">
                    <li>Electrodomésticos</li>
                    <li>Tecnología</li>
                    <li>Videos Juegos</li>
                </ul>

                <ul class="menuHeader">
                    <li><a href="/">Home</a><i class="fa-solid fa-house"></i></li>
                    <li><a href="register">Regístrate</a><i
                            class="fa-solid fa-address-card"></i></li>
                    <li><a href="login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="productCart">Carrito</a><i class="fa-solid fa-cart-shopping"></i></li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </div>
    <div class="banner"><img src="images/banner.jpg"></div>
</header>