<link rel="stylesheet" href="/css/homeAdmin.css">
<header>

    <nav>
        <div class="logo"><img src="/images/home/logo.svg" alt="Logo ElctroArco"></div>
        <div class="compra">
            <i class="fa-solid fa-truck"></i> Envío gratis en referencias seleccionadas
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
    
        <div class="search">
            <input type="search" placeholder="Buscar productos, marcas y más" class="search-product">
            <ul class="list">
                
                    <% if(!locals.isLogged){%>
                    <li><a href="/register">Registrate<i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                   
                <%} else {%>
                   
                    <li><a href="/logout">logout<i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <li><img src ="../images/user/<%=locals.userLogged.image%>" width="40px"; style="border-radius: 100%;"></li>
                    <li><%=locals.userLogged.first_name %></li>
                    <li><a href="/formCreationProduct">Crear Producto</i></a></li>
                    <li><a href="/detail/4">Perfil</i></a></li>
                    <li><a href="/productCart">Carrito<i class="fas fa-shopping-basket"></i></a></li>
                <%}%>
                <li><a href="/">Inicio</a></li>
                
            </ul>
        </div>
       
    </nav>
    <div class="banner-img"><img src="/images/home/banner.jpg"></div>
</header>