<%- include('../partials/head',{styles:['login']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>

               hola

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>