<%- include('../partials/head',{styles:['login']}) %>

    <body>
        <%- include('../partials/header') %>
            
            <div class="overlay2" id="overlay2">
                <div class="formularioRegistroLogin" id="formularioRegistroLogin">
                    <form action="/login" method="POST" class="crear-formulario" enctype="application/json">
                        <h2>Ingresa tus datos</h2>
                        <div class="divNombreApellidologin">
                            <label class="labelCorreo">Correo:</label>
                            <input type="email" name="email" id="email" class="correoUsuario">
                            <div class="validator ">
                                <% if (locals.errors && errors.email) { %>
                                    <%= errors.email.msg %>
                                <% }%>
                            </div>
                        </div>
                        <div class="contrasenaLogin">
                            <label class="labelContrase単a">Contrase単a:</label>
                            <input type="password" name="password" id="password"
                                class="contrase単aUsuario" >
                        </div>
                        <p class="remember">Recordar contrase単a</p>
                

                <div class="botonGuardarLogin">
                    <button type="submit" class="botonFormularioLogin">INGRESAR</button>
                    <button type="delete" class="botonFormularioLogin">CANCELAR</button>
                </div>
                </form>
            </div>
            </div>
            <%- include('../partials/footer') %>
    </body>

    </html>