<%- include('../partials/head',{styles:['register']}) %>

    <body>
        <%- include('../partials/header') %>
            <div class="overlay" id="overlay">
                <div class="formularioRegistro" id="formularioRegistro">
                    <form action="" method="dialog" class="crear-formulario">
                        <h2>Completa tus datos</h2>
                        <div class="divNombreApellido">
                            <div class="nombre">
                                <label>Nombre:</label>
                                <input type="text" name="nombreUsuario" id="nombreUsuario" class="input-control">
                            </div>
                            <div class="apellido">
                                <label>Apellidos:</label>
                                <input type="text" name="apellidoUsuario" class="input-control">
                            </div>
                        </div>
                        <div class="container">
                        <div class="celular">
                            <label>Celular:</label>
                            <input type="text" name="celularUsuario" class="input-control">
                        </div>
                        <div class="idUser">
                            <label>Identificaci칩n:</label>
                            <input type="number" name="id" class="input-control">
                        </div>
                        <div class="img-edit">
                            <label for="image" class="form-label">Imagen:</label>
                            <input type="file" id="image" name="image" class="form-input">
                        </div>
                    </div>
                        <div class="divCorreoContrasena">
                            <div class="correo">
                                <label>Correo:</label>
                                <input type="text" name="correoUsuario" id="correoUsuario" class="input-control">
                            </div>
                            <div class="contrasena">
                                <label>Contrase침a:</label>
                                <input type="password" name="contrase침aUsuario" id="contrase침aUsuario"
                                    class="input-control">
                            </div>
                        </div>

                        <div class="boton-guardar">
                            <button type="submit" class="boton-formulario">ENVIAR</button>
                            <button type="delete" class="boton-formulario">BORRAR</button>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../partials/footer') %>
    </body>

    </html>